# =========================
# ML Directory Exclusions
# =========================

# 1. Massive Datasets & Raw Images
ml/oil-spill/
ml/oil-spill-new/
ml/masks/
ml/*.tiff
ml/*.jpg
ml/test6.png
ml/ais_sample_10000.csv
# 5. Massive Output (Exceeds GitHub 100MB Limit)
ml/output_results/test3_pytorch_prob.tif


# 2. Intermediate/Heavy Model Weights (Keeping only the final one)
ml/*.h5
ml/*.pt
ml/unet_binary_spilltrace.keras

# 3. System Files
ml/__pycache__/
ml/structure.txt